body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    margin: 0;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

.footer {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 14px;
    /*white-space: nowrap;*/
}

.bg-cyan {
    background-color: rgba(13, 217, 234, 0.2);
}

.image {
    max-width: 50px;
    margin-bottom: 10px;
}

.w-14\/100 {
    flex-basis: 14%;
}

@media (max-width: 767px) {
    .footer {
        flex-direction: column;
    }

}

footer a {
    color: #70d6ff;
}

footer a:hover {
    color: #69db7e;
}

footer .copyright:before {
    content: '©';
}

.bg-white {
    background-color: rgba(13, 217, 234, 0.5);
    padding: 5px 10px;
}

.items-center {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.scroll::-webkit-scrollbar {
    height: 5px;
    background: #30c5ff;
}

.scroll::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background: #0995cb;
}

.full-width {
    max-width: 100%;
}

.container {
    max-width: 1560px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 1580px) {
    .container {
        max-width: 1290px;
    }
}

@media (max-width: 1280px) {
    .container {
        max-width: 940px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 710px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;

    }
}
